/* Changes header background, centers text, adds left padding */
#heading {
  background-color: red;
  text-align: center;
  padding-left: 10px;
}

/* Changes panel background, word font, shifts words using padding */
#navigation {
  background-color: grey;
  font-family: Comic Sans, Helvetica, sans-serif;
  padding-left: 80px;
}

/* When you hover over Home, Homework, Resource, and Recreation links they enlarge and are yellow */
a:hover {
  color:#ff0;
  font-size: larger;
}

/* Moves photo to the right, centers text underneath it */
#image {
  text-align: center;
  float: right;
}

/* Bolds and Underlines Instructor, Office, ..., Learning Outcomes dt tags */


/* Edits Table */
