/* Changes header background, centers text, adds left padding */
#heading {
  background-color: #900;
  text-align: left;
  padding-left: 30px;
}

h1
  {
    color: white;
    font-family: Comic Sans, Helvetica, sans-serif;
  }
  
h2
  {
    color: white;
    font-family: Comic Sans, Helvetica, sans-serif;
  }

/* Changes panel background, word font, shifts words using padding, removes underline */
#navigation {
  background-color: grey;
  color: white;
  font-family: Comic Sans, Helvetica, sans-serif;
  padding-left: 10px;
  background-position: left;
  text-decoration: None;
  margin-top: -20px;
}

/* When you hover over Home, Homework, Resource, and Recreation links they enlarge and are yellow */
a:hover {
  color: #ff0;
  font-size: larger;
}

/* Moves photo to the right, centers text underneath it */
#image {
  text-align: center;
  float: right;
}

/* Bolds and Underlines Instructor, Office, ..., Learning Outcomes dt tags */
dt {
  text-decoration: underline;
  font-weight: bold;
  color: #ccc;
}

/* Shifts paragrah to the left with other info and table */
p {
  margin-left: 200px;
}

/* Pads Instructor, ..., Learning Outcomes and table to shift to center */
dl {
  margin-left: 200px;
}

/* Add Red Table border, align right */
table {
  border: 5px solid red;
  text-align: right;
}

/* Add Black Table border around all td entries */
td {
  border: 1px solid black;
}

/* Move Footer to Center of screen */
#image {
  text-align: center;
}

/* Move Footer to Center of screen */
hr {
  width: 200px;
  height: 5px;
  size: "10";
  text-align: center;
}
